<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ljh_final_exam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MyLines_Editer" />
        <activity android:name=".MyLines_viewer" />
        <activity android:name=".New_Member" />
        <activity android:name=".Editing_Sentences" />
        <activity android:name=".Diary_View" />
        <activity android:name=".Writing" />
        <activity android:name=".AllLines" />
        <activity android:name=".MyLines" />
        <activity android:name=".Log_In" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>